@model TradeJournal.Models.Image

<div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-4">
        <form asp-controller="Images" asp-action="AddImage" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TradeId"/>
            
            <div class="mb-3">
                <ejs-textbox id="Title" name="Title" placeholder="Title" floatLabelType="Auto"></ejs-textbox>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <ejs-uploader id="ImageFile" name="ImageFile" autoUpload="false"> </ejs-uploader>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <ejs-button id="image_button" cssClass="w-100" type="submit" content="Add image"></ejs-button>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

