@model IEnumerable<TradeJournal.Models.Image>


@if (Model == null || Model.All(img => string.IsNullOrEmpty(img.Title)))
{
    System.Diagnostics.Debug.WriteLine("Rendering image add partial view.");
    await Html.RenderPartialAsync("~/Views/Images/AddImage.cshtml", Model.First());
}
else
{
<div>
    <hr />
    <div class="col-lg-12 control-section default-carousel-section">
        <div class="e-sample-resize-container carousel-sample">
            <ejs-carousel id="defaultCarousel" autoPlay="false" cssClass="default-carousel">
                <e-carousel-items>
                    @foreach (var image in Model)
                    {
                        <e-carousel-item template="#image@(image.Id)"></e-carousel-item>
                    }
                </e-carousel-items>
            </ejs-carousel>
        </div>
    </div>
    <hr />
    @if (Model.Any())
    {
        System.Diagnostics.Debug.WriteLine("Rendering image add partial view.");
        await Html.RenderPartialAsync("~/Views/Images/AddImage.cshtml", Model.First());
    }
</div>
}


@foreach (var image in Model)
{
    <script id="image@(image.Id)" type="text/x-template">
        <figure class="img-container">
            <img class="w-100 h-100" src="data:image/png;base64,@image.FileContent" alt="@image.Title" />
            <figcaption class="img-caption">@image.Title</figcaption>
        </figure>
    </script>
}



<style>
    .default-carousel-section .carousel-sample {
        margin: 0 auto 2em;
        width: 75%;
        height: 75%;
    }

    .default-carousel .e-carousel-items .e-carousel-item .img-container {
        height: 100%;
    }

    .default-carousel .e-carousel-items .e-carousel-item .img-caption {
        bottom: 4em;
        color: #fff;
        font-size: 12pt;
        height: 2em;
        position: relative;
        padding: 0.3em 1em;
        text-align: center;
        width: 100%;
    }
</style>

