@model TradeJournal.Models.Journal;

@{
    /*
    ViewData["PageTitle"] = "Journals";
    ViewData["PageActionText"] = "+ Add note";
    ViewData["PageActionUrl"] = "/Journals/AddOrEdit";*/

    var tools = new[] {
        "Bold", "Italic", "Underline", "StrikeThrough",
        "FontName", "FontSize", "FontColor", "BackgroundColor",
        "LowerCase", "UpperCase", "|",
        "Formats", "Alignments", "OrderedList", "UnorderedList",
        "Outdent", "Indent", "|",
        "CreateLink", "Image", "CreateTable", "|", "ClearFormat", "Print",
        "SourceCode", "FullScreen", "|", "Undo", "Redo"
    };
}

<div class="row d-flex justify-content-center align-items-center w-100">
    <div class="col-md-7 vw-100 vh-100">
        <form asp-controller="Journals" asp-action="AddOrEdit"> <!--tu jest blad, przekeirowywuje zle, bo zamiast do journals to do trades-->
            <div asp-validation-summary="ModelOnly"  class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@(Model.Id == 0 ? "0" : Model.Id)" />
            <input type="hidden" asp-for="@Model.TradeId"/>

             <div class="mb-3 w-100">
                <ejs-richtexteditor class="text-white" value="@Model.Text" id="Text" >
                    <e-richtexteditor-toolbarsettings  items="tools"></e-richtexteditor-toolbarsettings>
                        
                </ejs-richtexteditor>
                <span asp-validation-for="@Model.Text" class="text-danger"></span>
             </div>

            <div class="mb-3">
                <ejs-button cssClass="w-100" id="submit" type="submit" content="Add note"></ejs-button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
