@model TradeJournal.Models.Journal;

@{
    var tools = new[] {
        "Bold", "Italic", "Underline", "StrikeThrough",
        "FontName", "FontSize", "FontColor", "BackgroundColor",
        "LowerCase", "UpperCase", "|",
        "Formats", "Alignments", "OrderedList", "UnorderedList",
        "Outdent", "Indent", "|",
        "CreateLink", "Image","FileManager" ,"CreateTable", "|", "ClearFormat", "Print",
        "SourceCode", "FullScreen", "|", "Undo", "Redo"
    };
}

<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-md-7 h-100 vw-100 ">
        <form  asp-controller="Journals" asp-action="AddOrEdit"> 
            <div asp-validation-summary="ModelOnly"  class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@(Model.Id == 0 ? "0" : Model.Id)" />
            <input type="hidden" asp-for="@Model.TradeId"/>

             <div class="mb-3">
                <ejs-richtexteditor class="text-white" value="@Model.Text" id="Text" >
                    <e-richtexteditor-toolbarsettings items="tools"></e-richtexteditor-toolbarsettings>
                    <e-richtexteditor-insertimagesettings saveUrl="/Journals/SaveImage?Id=@Model.Id" path="/wwwroot/uploads"></e-richtexteditor-insertimagesettings>
                </ejs-richtexteditor>
             </div>

            <div class="mb-3">
                <ejs-button cssClass="w-100" id="submit" type="submit" content="Add note"></ejs-button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
